@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h1>Blockchained Supply Chain tracking system</h1>
    </NotAuthorized>
    <Authorized>
        <h1>Hello!</h1>
    </Authorized>
</AuthorizeView>